---
const today = new Date();
---

<footer class="mt-20 py-10 text-center text-slate-500 border-t border-slate-200">
  <p class="text-sm">
    &copy; {today.getFullYear()} iHealthy 生機實驗室. All rights reserved.
  </p>
  <div class="mt-4 space-x-4 text-sm flex justify-center items-center">
    <span class="text-xs tracking-wider text-slate-400 uppercase font-semibold">POWERED BY ASTRO</span>
  </div>
</footer>
